# Local dev defaults
ENV=local

# Database (we'll use this on Day 2)
DATABASE_URL=postgresql+psycopg://ldr:ldr@postgres:5432/ldr

# Redis (we'll use this for worker later)
REDIS_URL=redis://redis:6379/0

# App secrets (set properly later)
SECRET_KEY=change_me_to_a_long_random_string
AGENT_TOKEN_1=change_me_agent_token
